#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  font-size: 18px;
  z-index: 1000;
}